/*CONTAINER - MARK:DASHBOARD-CONTAINER */
.dashboard-container {
  margin-top: 80px;
  display: flex;
}

/*CONTAINER - MARK: ASIDE */
.dashboard-aside {
  min-width: 300px;
}




@media (max-width:1310px) {
/*CONTAINER - MARK: RESP-DASHBOARD-CONTAINER */
  .dashboard-container {
    flex-direction: column-reverse;
  }
}


