.visao-geral-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.visao-geral-header-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
}
.visao-geral-header time {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -2px 2px 11px rgba(0, 0, 0, 0.2);
}


@media (max-width: 820px) {
  .visao-geral-header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .visao-geral-header-title {
    align-items: center;
    text-align: center;
  }
}